*
{
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 
{
    color: rgb(77, 142, 254); /* #4d8efe maincolor*/
}

h1
{
    letter-spacing: 2px;
    text-shadow: 2px 2px #e6effe;
}

h2
{
    margin-top: 0px;
}

input
{
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}

textarea
{
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}

/* inputs */
input:required, select:required, textarea:required
{
    border-color: rgb(232, 67, 48); /* #e84330 */
}

input:valid, textarea:valid
{
    border-color: rgb(135, 195, 85);
    background-color: rgb(202, 231, 177);
}

input:invalid
{
    background-color: rgb(247, 192, 186);
}

.label_required::after
{
    content: "*";
    color: rgb(232, 67, 48);
}

/* fieldsets */
fieldset legend
{
    font-style: italic;
    border-radius: 2px;
    font-size: smaller;
}

fieldset
{
    border-radius: 2px;
    padding: 15px;
}

fieldset fieldset
{
    padding: 15px;
}

/* aside */
.aside_class
{
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    bottom: 0;
    padding: 5px;
}

a
{
    color: rgb(104, 159, 253);
}

nav a:hover
{
    color: rgb(77, 142, 254);
}

.room_order_table
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.room_order_table_head
{
    background-color: rgb(154, 191, 254);
}

table.room_order_table tr:nth-child(2)
{
    background-color: rgb(230, 239, 255);
}

/* mailto */
a[href^="mailto:"]::before
{
    content: "📧 ";
}

.line_separated
{
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    padding-left: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 5px; 
    margin-right: 5px;
    border-color: lightblue;
} 

.nav_bar
{
    list-style: none;
    padding-inline-start: 0px;
}

.nav_bar li 
{
    display: inline-block;
    margin-right: 10px;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

/* pictures */
#room_picture
{
    margin: 0px;
    font-size: smaller;
    margin-right: 10px;
    margin-left: 10px;
}

#room_picture_image
{
    max-width: 100%;
    height: auto;
}

fieldset label
{
    display: inline-block;
    margin-top: 5px;
}

legend 
{
    background-color: #e6effe;
}