#headBox {

    display: flex;
}

#navBox {

    display: flex;
}

#bodyBox {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#mainBox {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 60px;
}

#newsBox {

    display: flex;
}
