#room_body {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-areas:
    "head head"
    "nav nav"
    "main aside"
    "footer footer";
}

#room_head {
  grid-area: head;
  display: flex;
}

#room_footer {
  grid-area: footer;
}

#room_nav {
  grid-area: nav;
}

#room_main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "room_information room_picture"
    "room_orders room_picture";
}

#room_picture {
  grid-area: room_picture;
}

#room_information {
  grid-area: room_information;
}

#room_orders {
  grid-area: room_orders;
}

#room_aside {
  grid-area: aside;
}

#picture_logo
{
  max-width: 75px;
  height: auto;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  #room_body {
    grid-template-areas:
      "head"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  #room_aside {
    margin-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  #room_body {
    grid-template-areas:
      "head"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  #room_main {
    grid-template-areas:
      "room_information"
      "room_orders"
      "room_picture";
  }

  #room_picture {
    padding-top: 0px;
    margin: 0px;
    margin-top: 15px;
  }

  #room_information {
    margin: 0px;
  }

  #room_orders {
    margin: 0px;
    margin-top: 5px;
  }

  #room_aside {
    margin: 0px;
    margin-top: 15px;
  }
}

/* newRoomOrder */

#newOrder_body {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-areas:
    "newOrder_head newOrder_head"
    "newOrder_nav newOrder_nav"
    "newOrder_main newOrder_aside"
    "newOrder_footer newOrder_footer";
}

#newOrder_head {
  grid-area: newOrder_head;
  display: flex;
}

#newOrder_nav {
  grid-area: newOrder_nav;
}

#newOrder_main {
  grid-area: newOrder_main;
}

#newOrder_aside {
  grid-area: newOrder_aside;
  display: inline-block;
}

#newOrder_footer {
  grid-area: newOrder_footer;
}

@media screen and (max-width: 768px) {
  #newOrder_body {
    grid-template-columns: 100%;
    grid-template-areas:
      "newOrder_head"
      "newOrder_nav"
      "newOrder_main"
      "newOrder_aside"
      "newOrder_footer";
  }

  #newOrder_aside {
    margin: 0px;
    margin-top: 5px;
  }
}
